.product-container h2{
    text-align: center;
    margin: 100px 0;
}
.product-container .load-more{
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 50px 0;
}
.product-container .load-more button{
    font-size: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 2px 20px;
    line-height: 35px;
    border:none;
    border: 1px solid #333;
}
.product-show{
    /* display: grid;
    grid-template-rows: repeat(4,auto);
    grid-gap: 10px; */
}
.product-wrp{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    grid-gap: 10px;
}
.product-show .image img{
    width: 100%;
    height: 100%;
}
#product{
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    text-align: center;
    position: relative;
    /* border: 1px solid #3333; */
}

#product .show-addCart{
    width: 100%;
    padding: 5px 0;
}
#product .show-addCart button{
    font-size: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 2px 20px;
    line-height: 35px;
    border:none;
    background:#FF007D;
    color: #fff;
}
#product .image img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
}
/**************************/
#productDetails{
    margin-bottom: 100px;
    margin-top: 100px;
}
#productDetails .productDetails-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;

}
#productDetails .productDetails-item1 img{
    width: 100%;
    height: 100%;

}
#productDetails .productDetails-item2 .content h3{
    font-size: 40px;
    text-transform: uppercase;

}
#productDetails .productDetails-item2 .content .details h4{
    font-size: 25px;
    text-transform: uppercase;
}
#productDetails .productDetails-item2 .content .details ul li{
    list-style: none;
    font-size: 17px;
    text-transform: capitalize;
}
#productDetails .productDetails-item2 .content .price h5{
    list-style: none;
    font-size: 25px;
    text-transform: uppercase;
}
#productDetails .productDetails-item2 .content .price span{
    list-style: none;
    font-size: 25px;
    text-transform: uppercase;
}
#productDetails .productDetails-item2 .content .add-to-addCart{
}
#productDetails .productDetails-item2 .content .add-to-addCart button{
    border: none;
    border: 1px solid #3333;
    padding: 7px 10px;
    font-size: 17px;
    text-transform: uppercase;
    margin: 10px;
}
#productDetails .related-product{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    grid-auto-rows: 270px;
    margin-top: 30px;
}
#productDetails .related-product .img{
    border: 1px solid #3333;
}
#productDetails .related-product .img img{
    width: 100%;
    height: 100%;
}
/**************************/
